root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.js,*.ts]
quote_type = single
ij_typescript_force_quote_style = true
ij_any_space_before_catch_keyword = true
ij_any_spaces_within_braces = true
ij_any_spaces_within_brackets = true
ij_typescript_spaces_within_imports = true



