{{- $kafkaHost := ( .Values.config.kafka_host | replace "$release_name" .Release.Name ) -}}
{{- $redisHost := ( .Values.config.redis_host | replace "$release_name" .Release.Name ) -}}
{{- $participants_mongoURL := ( .Values.config.participants_query_repo_url | replace "$release_name" .Release.Name ) -}}
{{- $transfers_mongoURL := ( .Values.config.transfers_query_repo_url | replace "$release_name" .Release.Name ) -}}
{{- $redisDuplicateHost := ( .Values.config.redis_persisted_host | replace "$release_name" .Release.Name ) -}}
{{- $simulatorHost := ( .Values.config.simulator_host | replace "$release_name" .Release.Name ) -}}
apiVersion: {{ template "poc-modules.apiVersion.Deployment" . }}
kind: Deployment
metadata:
  name: {{ template "poc-modules.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "poc-modules.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "poc-modules.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "poc-modules.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/version: {{ .Chart.AppVersion }}
        app.kubernetes.io/managed-by: {{ .Release.Service }}
        helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
      {{- if .Values.metrics.enabled }}
      annotations:
        prometheus.io/port: "{{ .Values.service.internalPort }}"
        prometheus.io/scrape: "true"
      {{- end }}
    spec:
{{- if .Values.affinity }}
      affinity:
{{ toYaml .Values.affinity | indent 8 }}
{{- end }}
{{- if .Values.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.nodeSelector | indent 8 }}
{{- end }}
{{- if .Values.tolerations }}
      tolerations:
{{ toYaml .Values.tolerations | indent 8 }}
{{- end }}
      {{- if .Values.init.enabled }}
      initContainers:
        - name: {{ .Values.init.image.name }}
          image: {{ .Values.init.image.repository }}:{{ .Values.init.image.tag }}
          imagePullPolicy: {{ .Values.init.image.pullPolicy }}
          command:
            - sh
            - "-c"
            - {{ (.Values.init.image.command | replace "$kafka_host" $kafkaHost | replace "$kafka_port" (printf "%.0f" .Values.config.kafka_port) ) | quote }}
          env:
          {{- range $envItem := .Values.init.image.env }}
          - name: {{ $envItem.name }}
            value: {{ $envItem.value }}
          {{- end }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if .Values.image.imagePullSecrets }}
          imagePullSecrets:
          {{ toYaml .Values.image.imagePullSecrets | indent 10 }}
          {{- end }}
          command:
            - sh
            - "-c"
            - {{ .Values.image.command | quote }}
          args: {{ .Values.image.args }}
          ports:
            - containerPort: {{ .Values.service.internalPort }}
          {{- if .Values.readinessProbe.enabled }}
          readinessProbe:
            httpGet:
              path: {{ .Values.readinessProbe.httpGet.path }}
              port: {{ .Values.service.internalPort }}
            initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
          {{- end }}
          {{- if .Values.livenessProbe.enabled }}
          livenessProbe:
            httpGet:
              path: {{ .Values.livenessProbe.httpGet.path }}
              port: {{ .Values.service.internalPort }}
            initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
          {{- end }}
          # volumeMounts:
          #   - name: {{ template "poc-modules.fullname" . }}-config-volume
          #     mountPath: /opt/poc-participants/config
          env:
            - name: LOG_LEVEL
              value: {{ .Values.config.log_level | quote}}
            - name: LOG_FILTER
              value: {{ .Values.config.log_filter | quote}}
            - name: CSL_LOG_TRANSPORT
              value: {{ .Values.config.log_transport | quote}}
            - name: KAFKA_HOST
              value: "{{ $kafkaHost }}:{{ .Values.config.kafka_port }}"
            - name: REDIS_HOST
              value: {{ $redisHost | quote }}
            - name: REDIS_EXPIRATION_IN_SEC
              value: {{ .Values.config.redis_expiration_in_sec | quote }}
            - name: REDIS_DUPL_HOST
              value: {{ $redisDuplicateHost | quote }}
            - name: SIMULATOR_HOST
              value: {{ $simulatorHost | quote }}
            - name: PARTICIPANTS_REPO_TYPE
              value: {{ .Values.config.participants_repo_type | quote }}
            - name: PARTICIPANTS_REPO_CLUSTERED
              value: {{ .Values.config.participants_repo_clustered | quote }}
            - name: PARTICIPANTS_READSIDE_MONGO_DB_HOST
              value: {{ $participants_mongoURL | quote }}
            - name: PARTICIPANTS_BATCH_ENABLED
              value: {{ .Values.config.participants_batch_enabled | quote }}
            - name: TRANSFERS_REPO_TYPE
              value: {{ .Values.config.transfers_repo_type | quote }}
            - name: TRANSFERS_READSIDE_MONGO_DB_HOST
              value: {{ $transfers_mongoURL | quote }}
            - name: TRANSFERS_REPO_CLUSTERED
              value: {{ .Values.config.transfers_repo_clustered | quote }}
            - name: TRANSFERS_BATCH_ENABLED
              value: {{ .Values.config.transfers_batch_enabled | quote }}
            - name: DUPLICATE_REPO_TYPE
              value: {{ .Values.config.duplicate_repo_type | quote }}
            - name: DUPLICATE_REPO_CLUSTERED
              value: {{ .Values.config.duplicate_repo_clustered | quote }}
            - name: KAFKA_CONSUMER
              value: {{ .Values.config.kafka_consumer | quote }}
            - name: KAFKA_PRODUCER
              value: {{ .Values.config.kafka_producer | quote }}
            - name: KAFKA_PRODUCER_GZIP
              value: {{ .Values.config.kafka_producer_gzip | quote }}
            - name: KAFKA_AUTO_COMMIT
              value: {{ .Values.config.kafka_autocommit | quote }}
            - name: KAFKA_AUTO_COMMIT_INTERVAL
              value: {{ .Values.config.kafka_autocommit_interval | quote }}
            - name: KAFKA_AUTO_COMMIT_THRESHOLD
              value: {{ .Values.config.kafka_autocommit_threshold | quote }}
            - name: RDKAFKA_COMMIT_WAIT_MODE
              value: {{ .Values.config.rdkafka_commit_wait_mode | quote }}
            - name: RDKAFKA_BATCH_NUM_MESSAGES
              value: {{ .Values.config.rdkafka_batch_num_messages | quote }}
            - name: RDKAFKA_QUEUE_BUFFERING_MAX_US
              value: {{ .Values.config.rdkafka_queue_buffering_max_us | quote }}
            - name: RDKAFKA_STATS_INT_MS
              value: {{ .Values.config.rdkafka_stats_interval_ms | quote }}
            {{- if .Values.config.rdkafka_debug_consumer }}
            - name: RDKAFKA_DEBUG_CONSUMER
              value: {{ .Values.config.rdkafka_debug_consumer | quote }}
            {{- end }}
            {{- if .Values.config.rdkafka_debug_producer }}
            - name: RDKAFKA_DEBUG_PRODUCER
              value: {{ .Values.config.rdkafka_debug_producer | quote }}
            {{- end }}
            - name: KAFKA_FETCH_MIN_BYTES
              value: {{ .Values.config.kafka_fetch_min_bytes | quote }}
            - name: KAFKA_FETCH_WAIT_MAX_MS
              value: {{ .Values.config.kafka_fetch_wait_max_ms | quote }}
            - name: MEASURE_KAFKA_GROUP_ID
              value: {{ .Values.config.measure_kafka_group_id | quote }}
            - name: EVENT_SDK_VENDOR_PREFIX
              value: {{ .Values.config.event_trace_vendor | quote }}
            - name: UV_THREADPOOL_SIZE
              value: {{ .Values.config.uv_threadpool_size | quote }}
            - name: METRIC_PREFIX
              value: {{ .Values.config.metric_prefix | quote }}
            - name: PARTICIPANTS_COLLECTION
              value: {{ .Values.config.perf_multiple_producer_participant_collection | quote }}
            - name: SIMULATED_DFSPS_CNT
              value: {{ .Values.config.perf_multiple_producer_simulated_dfsp_cnt | quote }}
            - name: INJECTED_PER_SECOND
              value: {{ .Values.config.perf_multiple_producer_injected_per_second | quote }}
            - name: PERFTOOLCLIENT_API_DISABLED
              value: {{ .Values.config.perf_multiple_producer_api_disabled | quote }}
            - name: PERFTOOLCLIENT_API_HOST
              value: {{ .Values.config.perf_multiple_producer_api_host | quote }}
            - name: PERFTOOLCLIENT_API_PORT
              value: {{ .Values.config.perf_multiple_producer_api_port | quote }}

      # volumes:
      #   - name: {{ template "poc-modules.fullname" . }}-config-volume
      #     configMap:
      #       name: {{ template "poc-modules.fullname" . }}-config
      #       items:
      #       - key: default.json
      #         path: default.json
